[client]

# As always, all charsets default to utf8.
default_character_set = utf8

# The listening socket.
socket = /var/run/mysqld/mysqld.sock

[mysqld_safe]

# Write the error log to the given file.
#
# DEFAULT: syslog
log_error = /var/log/mysql/error.log

[mysqld]

back_log = 32000
connect_timeout = 5
datadir = /var/lib/mysql
join_buffer_size = 4M
log_slow_rate_limit = 1000
max_allowed_packet = 16M
max_connections = 10
query_cache_limit = 128K
tmpdir = /tmp
